[class^="col-"]{
  float:left;
}

.col-12{
  width: 100%;
}

.col-11{
  width: calc((100% / 12) * 11);
}

.col-10{
  width: calc((100% / 12) * 10);
}

.col-9{
  width: calc((100% / 12) * 9);
}

.col-8{
  width: calc((100% / 12) * 8);
}

.col-7{
  width: calc((100% / 12) * 7);
}

.col-6{
  width: 50%;
}

.col-5{
  width: calc((100% / 12) * 5);
}

.col-4{
  width: calc(100% / 3);
}

.col-3{
  width: calc(100% / 4);
}

.col-2{
  width: calc((100% / 12) * 2);
}

.col-1{
  width: calc(100% / 12);
}

.offset-1{
  margin-left: calc(100% / 12);
}

.offset-2{
  margin-left: calc((100% / 12) * 2);
}

.offset-3{
  margin-left: calc((100% / 12) * 3);
}

.offset-4{
  margin-left: calc((100% / 12) * 4);
}

.offset-5{
  margin-left: calc((100% / 12) * 5);
}

.offset-6{
  margin-left: calc((100% / 12) * 6);
}

.offset-7{
  margin-left: calc((100% / 12) * 7);
}

.offset-8{
  margin-left: calc((100% / 12) * 8);
}

.offset-9{
  margin-left: calc((100% / 12) * 9);
}

.offset-10{
  margin-left: calc((100% / 12) * 10);
}

.offset-11{
  margin-left: calc((100% / 12) * 11);
}

.offset-12{
  margin-left: calc((100% / 12) * 12);
}

@media screen and (min-width: 420px) and (max-width: 768px){

  [class^="col-"]{
    float:none;
  }

  .col-xs-12{
    width: 100%;
  }

  .col-xs-11{
    width: calc((100% / 12) * 11);
  }

  .col-xs-10{
    width: calc((100% / 12) * 10);
  }

  .col-xs-9{
    width: calc((100% / 12) * 9);
  }

  .col-xs-8{
    width: calc((100% / 12) * 8);
  }

  .col-xs-7{
    width: calc((100% / 12) * 7);
  }

  .col-xs-6{
    width: 50%;
  }

  .col-xs-5{
    width: calc((100% / 12) * 5);
  }

  .col-xs-4{
    width: calc(100% / 3);
  }

  .col-xs-3{
    width: calc(100% / 4);
  }

  .col-xs-2{
    width: calc((100% / 12) * 2);
  }

  .col-xs-1{
    width: calc(100% / 12);
  }

  .offset-xs-1{
    margin-left: calc(100% / 12);
  }

  .offset-xs-2{
    margin-left: calc((100% / 12) * 2);
  }

  .offset-xs-3{
    margin-left: calc((100% / 12) * 3);
  }

  .offset-xs-4{
    margin-left: calc((100% / 12) * 4);
  }

  .offset-xs-5{
    margin-left: calc((100% / 12) * 5);
  }

  .offset-xs-6{
    margin-left: calc((100% / 12) * 6);
  }

  .offset-xs-7{
    margin-left: calc((100% / 12) * 7);
  }

  .offset-xs-8{
    margin-left: calc((100% / 12) * 8);
  }

  .offset-xs-9{
    margin-left: calc((100% / 12) * 9);
  }

  .offset-xs-10{
    margin-left: calc((100% / 12) * 10);
  }

  .offset-xs-11{
    margin-left: calc((100% / 12) * 11);
  }

  .offset-xs-12{
    margin-left: calc((100% / 12) * 12);
  }
}
